@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.banner-img img {
  width: 10rem;
}
.day-img img {
  width: 3rem;
}
#divimg {
  height: 48px;
}
