@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.banner-img img {
  width: 10rem;
}
.day-img img {
  width: 3rem;
}
#divimg {
  height: 48px;
}
.imgProfilo {
  width: 2em;
}
.backgroundOpacity {
  background-color: rgba(0, 0, 0, 0.171);
}
.bg-body-gray {
  background-color: #3232325d;
}
